<%= form_with  model: [@car, @order] do |form| %>
  <div>
    <%= form.label :customer_id %><br>
    <%= form.text_field :customer_id %>
  </div>

  <div>
    <%= form.label :started_at %><br>
    <%= form.datetime_local_field :started_at %>
  </div>

  <div>
    <%= form.label :finished_at %><br>
    <%= form.datetime_local_field :finished_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


